<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.examples.logiportdemo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="14" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" android:name="Demoapplication">
         <activity
            android:name=".Login"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
          <activity
            android:name=".Main"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    <meta-data
    android:name="com.parse.APPLICATION_ID"
    android:value="vkcGvIllq9bSMAxH823Z4LIT1aQEQ3fAwXoARUCk"/>
<meta-data
    android:name="com.parse.CLIENT_KEY"
    android:value="3y3v70ldPmGf8UtNdD88rPVUdw9Om5NInNmkpmUd"/>
    </application>

</manifest>
